**/__pycache__/
Untitled*.ipynb
build/
jtex.egg-info/
.coverage
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.vscode/
tmp/
test_tmp/
dist/
env/
pip-wheel-metadata/


*.aux
*.fdb_latexmk
*.fls
*.log
*.bbl
*.blg
*.synctex.gz
*.out
*.ignore
